---
import { ClientRouter } from "astro:transitions"
import Navbar from "@/components/Navbar.astro"
import WhatsappButton from "@/components/WhatsappButton.astro"
import Footer from "@/components/Footer.astro"
import "@/styles/global.css"

interface Props {
  title: string
  hero?: boolean
  isIndex?: boolean
  isNosotros?: boolean
  isCatalogo?: boolean
  isServicios?: boolean
  isContactanos?: boolean
}

const {
  title,
  hero = false,
  isIndex = false,
  isNosotros = false,
  isCatalogo = false,
  isServicios = false,
  isContactanos = false,
} = Astro.props
const pageTitle = isIndex ? title : `Difase | ${title}`
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />

    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script src="/pagefind/pagefind-ui.js" is:inline></script>

    <ClientRouter />
  </head>
  <body class="font-quicksand">
    <Navbar
      hero={hero}
      inicio={isIndex}
      nosotros={isNosotros}
      catalogo={isCatalogo}
      servicios={isServicios}
      contactanos={isContactanos}
    />
    <WhatsappButton />
    <slot />
    <Footer contactanos={isContactanos} servicios={isServicios} />
  </body>
</html>
